.end-of-year-form {
  min-width: 1000px;
  padding: 5% 20%;
  background-image: url(../tim-van-cleef-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.dark-back {
  position: relative;
  display: block;
  opacity: .7;
  background: #000;
}

.survey-form {
  display: block;
  max-height: 85vh; 
  padding: 120px 10px 20px;
  overflow-y: auto;
}

.stationary-words {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: black;
}

.title {
  font-size: 22px; 
}

.description {
  z-index: 10;
  font-size: 18px;
  font-style: italic;
}

.form-parts {
  margin: 10px 20px;
}

.label-item {
  display: block;
  margin: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.label-item-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.name-email {
  width: 50%;
}

.label-item-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.big-topics {
  padding: 10px 20px;
  color: white;
  font-size: 18px;
}

.legend-white {
  color: white;
  font-size: 14px;
} 

.submit {
  display: block;
  margin: auto;
  padding: 5px 40px;
}